 *{
     box-sizing:border-box;
 }

 body{
     margin:0;
     padding:0;
 }

 .navbar{
        margin:0;
     padding:0;
     display:flex;
     justify-content: space-between;
     align-items:center;
     background-color:teal;
     color:white;
 }

 .brandTitle{
     font-size: 50px;
     
 }

 .navbar-link ul{
     margin:0;
      padding:0;
    display:flex; 
   }

   .navbar-link li{
       list-style:none;
   }

   .navbar-link li a{
       font-size:20px;
       text-decoration: none;
       color:white;
       padding:10px;
       display: block;

   } 

   .navbar-link li:hover{
       background-color: black;
   }

  
       
      

@media (max-width:517px) {
    .toggle{
        display:flex;
    }

    .navbar-link{
        display:none;
        width: 100%;
    }

    .navbar{
        flex-direction:column;
        justify-content:flex-start ;
    }


    .navbar-link ul{
        flex-direction:column;
       
        width: 100%;

    }

    .navbar-link li{
        text-align:center;
    }
   
     .navbar-link li a {
        padding:10px;
    }

    .navbar-link.active {
        display: flex;
    }
}

