 
   <nav class="navbar">
   <div class="brandTitle">Recipe Book</div>
   
  
   <div class="navbar-link active">
     <ul>
       <li><a routerLink="/auth" *ngIf="!Authenticated">Authenticate</a></li>
       <li><a routerLink="/shoppinglist"   *ngIf="!Authenticated" >ShoppingList</a></li>
       <li><a  routerLink="/recipes"   *ngIf="Authenticated" >Recipes</a></li>
       <li><a   (click)="logOut()"   *ngIf="Authenticated" >LogOut</a></li>
     </ul>
   </div>
  </nav>

  <router-outlet></router-outlet>
 