 body{
        margin-top:25% ;
        margin-bottom:25% ;
margin-left: 25%;
margin-right:25% ;

     } 
label{
    font-size: 1rem; 
    font: weight 5rem; 
    color:red ;
    }
   
    input, button{
   box-shadow:2px 2px 2px  rgb(191, 189, 189)    
    }
    