 <div class="row"  style="margin-top:5% ; margin-left: 25%;"  >
     <div class="col-xs-12 col-md-6 col-md-offset "   >
         <div class="alert alert-danger" *ngIf="error">
             <p style="font-weight: bold;">{{error}}</p>
         </div>
        <div *ngIf="isLoding" >
       <loadingSpinner ></loadingSpinner>
    </div>
         <form  #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoding" >
             <div class="form-group">
                 <label for="email" style="font-weight: bold;">E-mail</label>
                 <input
                  type="email" 
                  id="email" 
                  class="form-control"
                  ngModel
                  name="email"
                  required
                  email >
             </div>
             <div class="form-group">
                <label for="password" style="font-weight: bold;">Password</label>
                <input 
                type="password" 
                id="password" 
                class="form-control"
                ngModel
                name="password"
                required
                minlength="6">
            </div>
            <div >
                 <button class="btn btn-success  " type="submit" [disabled]="!authForm.valid" style="font-weight: bold; margin-left: 25%;"> 
                     {{isLogin ?'Login':'SignUp'}}  </button>  |
                 <button class="btn btn-primary  "(click)="switchMode()" type="button"style="font-weight: bold; ">Switch to {{isLogin ?'SignUp':'Login'}}</button> 
            </div>
             
         </form>
     </div>
 </div>
